hue:
  host: hue
  username: secret

rcp:
  url: http://raspi:6680/mopidy/rpc

google_calendar:
  client_secret_path: data/client_secret.json
  credentials_path: data/smart-light.json
  events_path: data/events.pkl
  previous_run_path: data/previous-run.pkl
  calendar_id: secret
  scopes: https://www.googleapis.com/auth/calendar.readonly
  app_name: Smart Light

nas:
  gpio: 22
  url: http://nas/web/login.asp

rf:
  gpio_tx: 17
  gpio_rx: 27
  commands: secret
    # pulse, on, off, [type, additional_info...]
    # - [0, 0, 0, put, "scenarios/arrive", "scenarios/leave"]
    # - [0, 0, 0, put, "scenarios/wakeup", "scenarios/sleep"]
    # - [0, 0, 0, plug, main-lamp]
    # - [0, 0, 0, plug, bedside-lamp]
    # - [0, 0, 0, plug, desk]
    # - [0, 0, 0, plug, starwars-lamp]
    # - [0, 0, 0, plug, plasma-lamp]
    # - [0, 0, 0, plug, bathroom-heat]
    # - [0, 0, 0, plug, bedroom-heat-1]
    # - [0, 0, 0, plug, bedroom-heat-2]

remote_pilot_wire:
  plug_ids:
    - bedroom-heat-1
    - bedroom-heat-2

mist_lamp:
  id: mistlamp
  codes:
    power: KEY_POWER
    light: KEY_POWER2
    brightness: KEY_BRIGHTNESS_CYCLE
    mist: BTN_MODE

weather:
  key: secret
  location: lang:FR/q/France/Paris%2005%20Pantheon

location:
  latitude: 48
  longitude: 2
  timezone: 2

temperature:
  gpio: 25
  sensor: 11 # DHT11

crespin:
  ip: 192.168.1.134
  port: 1337
