@import url('https://fonts.googleapis.com/css?family=Comfortaa:300,400,700'); /* |Nunito:300,400,600,700 */

body {
    font-family: Comfortaa, 'Open Sans', Helvetica, sans-serif;
}

/*
header { background: url('/api/sun.svg') center center; overflow: auto; }
#header-container { background-position: center center; min-width: 600px; height: 175px; }
#header-content { max-width: 600px; height: 175px; margin: 0 auto; position: relative; } header-info { height: 45px; margin: 0 auto -45px; padding-left: 15px; padding-top: 5px; position: relative; z-index: 100; max-width: 600px; } btn-wakeup { left: 122px; }
#btn-leave { left: 185px; }
#btn-arrive { right: 190px; }
#btn-party { right: 132px; }
#btn-bedtime { right: 70px; }
#btn-sleep { right: 10px; }
#header-content .btn { position: absolute; top: 65px; }
*/

body > .container {
    margin-bottom: 45px;
}

header {
    background: url('/api/sensors/sun.svg') center center;
    overflow: auto;
    height: 175px;
}

#header-content {
    height: 45px;
    margin: 20px auto 0;
    text-align: center;
    max-width: 600px;
}

#header-content .btn {
    color: #000;
    background-color: rgba(255, 255, 255, 0.8);
    border-color: rgba(204, 204, 204, 0.6);
    opacity: 0.7;
    font-size: 16px;
}

#header-info {
    height: 45px;
    margin: 0 auto;
    padding-left: 15px;
    padding-top: 5px;
    max-width: 600px;
}

.header-info-block {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: 12px;
}

#header-time {
    font-size: 230%;
    font-weight: 300;
}

#header-day {
    position: relative;
    width: 41px;
}

#header-weather-icon {
    font-size: 30px;
    margin-top: 5px;
}

#header-day .dayname {
    transform: rotate(90deg);
    position: absolute;
    top: 8px;
    left: -9px;
    font-size: 10.5px;
    text-transform: uppercase;
    letter-spacing: -0.5px;
    width: 25px;
    text-align: center;
    font-weight: bold;
}

#header-day .day {
    position: absolute;
    top: -3px;
    left: 9px;
    font-size: 28px;
    letter-spacing: -1px;
    font-weight: bold;
}

#header-day .month {
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: lighter;
    letter-spacing: 2.3px;
}

#header-weather-temp-1 {
    font-size: 20px;
}

#header-weather-temp-2 {
    font-size: 11px;
    margin-top: -4px;
}

#header-weather-add {
    font-size: 12px;
}
#header-weather-add-1 {
    margin-top: 1px;
    font-size: 14px;
}
#header-weather-add-2 .wi-wind {
    font-size: 17px;
    vertical-align: middle;
    margin-left: -3px;
}

/*
#header-weather {
    position: absolute;
    top: 10px;
    left: 20px;
}
#header-weather .icon, #header-weather .info {
    float: left;
    margin-right: 20px;
}

#header-weather .space {
    width: 10px;
    display: inline-block;
}

#header-weather .icon {
    font-size: 200%;
}
#header-weather .info .temp {
    font-size: 110%;
    margin: 0;
}
#header-weather .info .forecast {
    font-size: 90%;
    margin: 0;
}*/



.block h2 {
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    border-top: 2px solid #5e5e5e;
    margin-top: 30px;
}

.block h2 span {
    position: relative;
    top: -10px;
    background: white;
    padding: 0 15px;
}

.block h3 {
    font-size: 16px;
    text-transform: uppercase;
}


.flt-left-block {
    float: left;
}


.command-container {
    margin: 5px 0;
    display: flex;
}

.command-container .command-label {
    display: inline-block;
    width: 120px;
    text-align: right;
    text-transform: capitalize;
    font-weight: bold;
    padding-right: 8px;
    padding-top: 6px;
    vertical-align: middle;
}

.slider-container, .button-container, .toggle-container {
    display: inline-block;
    flex-grow: 1;
    text-align: center;
}

.slider-off .slider-container {
    opacity: 0.3;
}

#waterings td {
    padding: 3px 5px;
}

#waterings .fa-humidity, #waterings .fa-shower {
    color: #1a77f0;
}

#waterings .alert-color {
    color: #ffa806 !important;
}

.cute-button {
    color: #333;
    background: #e4e4e4;
    border-radius: 23px;
    padding: 8px 13px;
    margin-top: 5px;
    display: inline-block;
    line-height: 1;
}

.cute-button:hover, .cute-button:focus, .cute-button:active {
    color: #333;
    text-decoration: none;
}

#weather {
    width: 100%;
    overflow: auto;
}

#precipitation {
    fill: none;
    stroke: #1878f0;
    stroke-width: 2;
}

#temperature {
    fill: none;
    stroke: #ffd220;
    stroke-width: 2;
}

#precipitation_zero {
    stroke: #1878f0;
    stroke-width: 1;
    stroke-dasharray: 1,3;
}

#temperature_txts {
    text-anchor: middle;
    fill: #b89300;
    font-size: 9px;
}

#precipitation_txts {
    text-anchor: middle;
    fill: #0b54ad;
    font-size: 8px;
}

#weather-time line {
    stroke-width: 1;
    stroke-dasharray: 1,1;
    stroke: #eee;
}

#weather-time text {
    text-anchor: middle;
    font-size: 8px;
    fill: #999;
}

#weather-time text.weather {
    font-family: weathericons;
    fill: #666;
    font-weight: bold;
    font-size: 10px;
}

#weather-time text.weather-mostlysunny, #weather-time text.weather-partlysunny, #weather-time text.weather-clear, #weather-time text.weather-sunny, #weather-time text.weather-clear-day, #weather-time text.weather-clear-night
    { fill: #f5c400; }
#weather-time text.weather-partlycloudy, #weather-time text.weather-partly-cloudy-day, #weather-time text.weather-partly-cloudy-night, #weather-time text.weather-wind
    { fill: #d8cda3; }
#weather-time text.weather-mostlycloudy, #weather-time text.weather-cloudy, #weather-time text.weather-fog, #weather-time text.weather-hazy
    { fill: #9aa2a7; }
#weather-time text.weather-chancerain, #weather-time text.weather-rain
    { fill: #5d90c3; }
#weather-time text.weather-chancesnow, #weather-time text.weather-chancesleet, #weather-time text.weather-flurries, #weather-time text.weather-snow, #weather-time text.weather-sleet, #weather-time text.weather-chanceflurries
    { fill: #e4e3e3; text-shadow: 0px 0px 1.5px #444 }
#weather-time text.weather-chancetstorms, #weather-time text.weather-tstorms
    { fill: #38638e; }

#weather-time line.day {
    stroke-width: 1;
    stroke-dasharray: none;
    stroke: #ccc;
}

#weather-time text.day {
    text-anchor: start;
    writing-mode: tb;
    fill: #333;
    font-size: 9.5px;
}



#hue_hs_container {
    width: 250px;
    max-width: 100%;
    margin: 0 auto 20px;
    position: relative;
}

#hue_hs_pos {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -7px;
    margin-left: -3px;
    pointer-events: none;
}

#hue_hs {
    width: 100%;
}

#running-seqs .sequence .stop-sequence {
    cursor: pointer;
     color: #F56557;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    cursor: pointer;
    height: 30px;
    border: 3px solid #f9f9f9;
    border-radius: 40px;
    background: #dadada;
    box-shadow: inset 0 0 2px 1px rgba(0, 0, 0, 0.3);
}

input[type=range] {
  -webkit-appearance: none;
  background: transparent;
}

input[type=range]::-webkit-slider-thumb {
    cursor: pointer;
    margin-top: -3px;
    -webkit-appearance: none;
    width: 30px;
    height: 30px;
    background: #F5F5F5;
    border: 1px solid #e8e8e8;
    border-radius: 100%;
    box-shadow: 0 2px 4px rgba(100, 100, 100, 0.1);
}

.toggle-container {
    position: relative;
}

.toggle-container .sequence-running {
    position: absolute;
    left: 0;
    width: 100%;
    background: rgba(255, 255, 255, 0.9);
}

.toggle-container > * {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
}

.toggle-container .text {
    display: inline-block;
    color: #5e5e5e;
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
}

.toggle {
    display: inline-block;
    position: relative;
    width: 60px;
    height: 30px;
    border: 3px solid #f9f9f9;
    border-radius: 40px;
    background: #F56557;
    box-shadow: inset 0 0 2px 1px rgba(0, 0, 0, 0.3);
    transition: background .25s ease-in;
}

.toggle .btn {
    display: block;
    position: absolute;
    top: -3px;
    left: -1px;
    width: 30px;
    height: 30px;
    background: #F5F5F5;
    border: 1px solid #e8e8e8;
    border-radius: 100%;
    box-shadow: 0 2px 4px rgba(100, 100, 100, 0.1);
    transition: left .25s ease-in-out;
}

.toggle.checked {
  background: #48C893;
}

.toggle.checked .btn {
  left: 25px;
}

.toggle3-container {
    display: inline-block;
}

.toggle3-container > * {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
}

.toggle3-container .text {
    display: inline-block;
    color: #5e5e5e;
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
}

.toggle3 {
    display: inline-block;
    position: relative;
    width: 90px;
    height: 30px;
    border: 3px solid #f9f9f9;
    border-radius: 40px;
    background: #F56557;
    box-shadow: inset 0 0 2px 1px rgba(0, 0, 0, 0.3);
    transition: background .25s ease-in;
    margin-top: 16px;
}
.toggle3-text {
    margin-top: 16px;
}

.toggle3 .middle {
    display: block;
    width: 100%;
    text-align: center;
    position: relative;
    top: -20px;
}

.toggle3 .middle .circle {
    width: 14px;
    height: 14px;
    margin-top: 5px;
    margin-left: 34px;
    border-radius: 20px;
    background: rgba(0,0,0,0.05);
    box-shadow: inset 0 0 2px 1px rgba(0, 0, 0, 0.15);
}

.toggle3 .left-btn, .toggle3 .center-btn, .toggle3 .right-btn {
    position: absolute;
    top: -3px;
    height: 30px;
    width: 30px;
}

.toggle3 .left-btn {
    left: -2px;
}

.toggle3 .center-btn {
    left: 28px;
}

.toggle3 .right-btn {
    right: -2px;
}

.toggle3 .btn {
    display: block;
    position: absolute;
    top: -3px;
    left: -1px;
    width: 30px;
    height: 30px;
    background: #F5F5F5;
    border: 1px solid #e8e8e8;
    border-radius: 100%;
    box-shadow: 0 2px 4px rgba(100, 100, 100, 0.1);
    transition: left .25s ease-in-out;
}

.toggle3.checked-mid {
  background: #ead11a;
}

.toggle3.checked-mid .btn {
  left: 26px;
}

.toggle3.checked-right {
  background: #48C893;
}

.toggle3.checked-right .btn {
  left: 55px;
}

.btn:focus,.btn:active:focus,.btn.active:focus,
.btn.focus,.btn:active.focus,.btn.active.focus {
    outline: none;
}

#crespin input.btn {
    cursor: text;
}

#crespin-vals {
    margin-bottom: 10px;
}

#crespin-vals td:not(:last-child) {
    padding-right: 5px;
}

#crespin-vals .input-group-sm>.form-control, #crespin-vals .input-group-sm>.input-group-addon, #crespin-vals .input-group-sm>.input-group-btn>.btn {
    padding: 5px 7px;
}

#crespin-motors {
    width: 100%;
    max-width: 390px;
    border-collapse: separate;
}

#crespin-motors td {
    text-align: center;
    color: #333;
    background: #fff;
    line-height: 10px;
    padding: 6px 0;
    cursor: pointer;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    width: 9%;
}

#crespin-motors td.active {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
    box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
}

#crespin-motors td .target {
    color: #AAA;
}

#crespin-motors tr:last-child td {
    border-bottom: 1px solid #ccc;
}
#crespin-motors tr td:last-child {
    border-right: 1px solid #ccc;
}

#crespin-motors tr:first-child td {
    margin-bottom: -1px;
}
#crespin-motors tr:first-child td:first-child {
    border-top-left-radius: 4px;
}
#crespin-motors tr:first-child td:last-child {
    border-top-right-radius: 4px;
}
#crespin-motors tr:last-child td:first-child {
    border-bottom-left-radius: 4px;
}
#crespin-motors tr:last-child td:last-child {
    border-bottom-right-radius: 4px;
}

#crespin-motors .pos, #crespin-motors .target {
    font-size: 9px;
}

#calendar_list .btn-group {
    border-radius: 4px;
    margin-right: 5px;
    opacity: 0.4;
}

#calendar_list .btn {
    color: #fff;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.85);
    background: none;
    border: none;
}

#calendar_list .btn.btn-add {
    border-radius: 4px;
    background-color: #949494;
}

#calendar_list .btn-group.active {
    opacity: 1;
}

#calendar_list .btn-edit {
    border-left: 1px solid rgba(0,0,0,0.1);
}

#calendar_view {
    text-align: center;
}

#calendar_view table {
    line-height: 6px; font-size: 7px; margin: 0 auto 8px; display: inline-block; margin-right: 12px; font-weight: bold;
}
#calendar_view td {
    padding: 0 3.5px; text-align: center;
}
#calendar_view .circle {
    width: 6px; height: 6px; border-radius: 3px; background-color: #ffd400; display: inline-block; margin-bottom: -0.5px;
    opacity: 0;
}

#calendar_view .circle.active-previously {
    opacity: 0.3;
}

#calendar_view .circle.active, #calendar_view .circle.active.active-previously {
    opacity: 1;
}

#calendar_view .day_title {
    text-align: right; padding-right: 0px;
}

#calendar_days {
	overflow-x: scroll;
	white-space: nowrap;
	padding-bottom: 13px;
}

#calendar_days .month {
    display: inline-block;
    margin-right: 12px;
}
#calendar_days .month .btn-group>.btn { float: none; }

#calendar_days .title {
    position: sticky; /* position: -webkit-sticky; */
	width: 100px;
	left: 0px;
	text-transform: uppercase;
	color: #5e5e5e;
	font-weight: bold;
	font-size: 10px;
}

#calendar_go_today {
    position: absolute;
    right: 15px;
    font-size: 10px;
    color: #5e5e5e;
	font-weight: bold;
    z-index: 1000;
    cursor: pointer;
    background: #fff;
    padding-left: 10px;
}

#calendar-edit .pcr-app {
    margin: 15px auto 0;
}

@media (prefers-color-scheme: dark) {
    header {
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.6)), url('/api/sensors/sun.svg');
    }
    #header-content .btn {
        background-color: #464545cc;
        border-color: #46454599;
        color: #ffffff;
    }
    .block h2 span {
        background: #111;
    }
    .toggle, input[type=range]::-webkit-slider-runnable-track {
        border-color: #232323;
    }
    input[type=range]::-webkit-slider-runnable-track {
        background: #3c3c3c;
    }
    .toggle .btn, input[type=range]::-webkit-slider-thumb {
        border-color: #363535;
        background-color: #464545;
        box-shadow: 0 2px 4px rgb(162 162 162 / 10%);
    }
    #hue_hs {
        opacity: 0.4;
    }
    .cute-button {
        background: #464545cc;
        color: #bdbdbd;
    }
    #calendar_go_today {
        background: #121212;
    }
    .toggle-container .sequence-running {
        background: rgba(18, 18, 18, 0.9);
    }

    /* From https://gist.github.com/ijason/cf32446780c944d86f1c9cf71648056d */
    body {
        background-color: #111 !important;
        color: #bdbdbd;
    }

    .bg-light {
        background-color: #333 !important;
    }

    .bg-white {
        background-color: #000 !important;
    }

    .bg-black {
        background-color: #eee !important;
    }

    .jumbotron {
        background-color: #303030 !important;
    }

    .footer {
        background-color: #303030 !important;
    }

    .modal-content {
        background-color: #303030 !important;
        border: 1px solid #444 !important;
    }

    .modal-header {
        border-bottom: 1px solid #444 !important;
    }

    .modal-footer {
        border-top: 1px solid #444 !important;
    }

    .panel {
        background-color: #303030;
    }

    .panel-body {
        background-color: #303030 !important;
    }

    .panel-heading {
        border-bottom: 1px solid transparent;
    }

    .panel-heading > .dropdown .dropdown-toggle {
        color: inherit;
    }

    .panel-title {
        color: inherit;
    }

    .panel-footer {
        background-color: #464545;
        border-top: 1px solid #464545;
    }

    .panel-default {
        border-color: #464545;
    }

    .panel-default > .panel-heading {
        color: #ffffff;
        background-color: #303030;
        border-color: #464545;
    }

    .panel-default > .panel-heading + .panel-collapse > .panel-body {
        border-top-color: #464545;
    }

    .panel-default > .panel-heading .badge {
        color: #303030;
        background-color: #ffffff;
    }

    .panel-default > .panel-footer + .panel-collapse > .panel-body {
        border-bottom-color: #464545;
    }

    .alert h4 {
        color: inherit;
    }

    .alert .alert-link {
        font-weight: bold;
    }

    .alert-dismissable .close,
    .alert-dismissible .close {
        color: inherit;
    }

    .alert-success {
        color: #ffffff;
        background-color: #00bc8c;
        border-color: #00bc8c;
    }

    .alert-success hr {
        border-top-color: #00a379;
    }

    .alert-success .alert-link {
        color: #e6e6e6;
    }

    .alert-info {
        color: #ffffff;
        background-color: #3498db;
        border-color: #3498db;
    }

    .alert-info hr {
        border-top-color: #258cd1;
    }

    .alert-info .alert-link {
        color: #e6e6e6;
    }

    .alert-warning {
        color: #ffffff;
        background-color: #f39c12;
        border-color: #f39c12;
    }

    .alert-warning hr {
        border-top-color: #e08e0b;
    }

    .alert-warning .alert-link {
        color: #e6e6e6;
    }

    .alert-danger {
        color: #ffffff;
        background-color: #e74c3c;
        border-color: #e74c3c;
    }

    .alert-danger hr {
        border-top-color: #e43725;
    }

    .alert-danger .alert-link {
        color: #e6e6e6;
    }

    .well {
        background-color: #303030;
        border: 1px solid transparent;
    }

    .well blockquote {
        border-color: #ddd;
        border-color: rgba(0, 0, 0, 0.15);
    }

    table {
        background-color: transparent;
    }

    caption {
        color: #999999;
    }
    .table > thead > tr > th,
    .table > tbody > tr > th,
    .table > tfoot > tr > th,
    .table > thead > tr > td,
    .table > tbody > tr > td,
    .table > tfoot > tr > td {
        border-top: 1px solid #464545;
    }

    .table > thead > tr > th {
        border-bottom: 2px solid #464545;
    }

    .table > tbody + tbody {
        border-top: 2px solid #464545;
    }

    .table .table {
        background-color: #222222;
    }

    .table-bordered {
        border: 1px solid #464545;
    }

    .table-bordered > thead > tr > th,
    .table-bordered > tbody > tr > th,
    .table-bordered > tfoot > tr > th,
    .table-bordered > thead > tr > td,
    .table-bordered > tbody > tr > td,
    .table-bordered > tfoot > tr > td {
        border: 1px solid #464545;
    }

    .table-striped > tbody > tr:nth-of-type(odd) {
        background-color: #3d3d3d;
    }

    .table-hover > tbody > tr:hover {
        background-color: #464545;
    }

    .table > thead > tr > td.active,
    .table > tbody > tr > td.active,
    .table > tfoot > tr > td.active,
    .table > thead > tr > th.active,
    .table > tbody > tr > th.active,
    .table > tfoot > tr > th.active,
    .table > thead > tr.active > td,
    .table > tbody > tr.active > td,
    .table > tfoot > tr.active > td,
    .table > thead > tr.active > th,
    .table > tbody > tr.active > th,
    .table > tfoot > tr.active > th {
        background-color: #464545;
    }

    .table-hover > tbody > tr > td.active:hover,
    .table-hover > tbody > tr > th.active:hover,
    .table-hover > tbody > tr.active:hover > td,
    .table-hover > tbody > tr:hover > .active,
    .table-hover > tbody > tr.active:hover > th {
        background-color: #393838;
    }

    .table > thead > tr > td.success,
    .table > tbody > tr > td.success,
    .table > tfoot > tr > td.success,
    .table > thead > tr > th.success,
    .table > tbody > tr > th.success,
    .table > tfoot > tr > th.success,
    .table > thead > tr.success > td,
    .table > tbody > tr.success > td,
    .table > tfoot > tr.success > td,
    .table > thead > tr.success > th,
    .table > tbody > tr.success > th,
    .table > tfoot > tr.success > th {
        background-color: #00bc8c;
    }

    .table-hover > tbody > tr > td.success:hover,
    .table-hover > tbody > tr > th.success:hover,
    .table-hover > tbody > tr.success:hover > td,
    .table-hover > tbody > tr:hover > .success,
    .table-hover > tbody > tr.success:hover > th {
        background-color: #00a379;
    }

    .table > thead > tr > td.info,
    .table > tbody > tr > td.info,
    .table > tfoot > tr > td.info,
    .table > thead > tr > th.info,
    .table > tbody > tr > th.info,
    .table > tfoot > tr > th.info,
    .table > thead > tr.info > td,
    .table > tbody > tr.info > td,
    .table > tfoot > tr.info > td,
    .table > thead > tr.info > th,
    .table > tbody > tr.info > th,
    .table > tfoot > tr.info > th {
        background-color: #3498db;
    }

    .table-hover > tbody > tr > td.info:hover,
    .table-hover > tbody > tr > th.info:hover,
    .table-hover > tbody > tr.info:hover > td,
    .table-hover > tbody > tr:hover > .info,
    .table-hover > tbody > tr.info:hover > th {
        background-color: #258cd1;
    }

    .table > thead > tr > td.warning,
    .table > tbody > tr > td.warning,
    .table > tfoot > tr > td.warning,
    .table > thead > tr > th.warning,
    .table > tbody > tr > th.warning,
    .table > tfoot > tr > th.warning,
    .table > thead > tr.warning > td,
    .table > tbody > tr.warning > td,
    .table > tfoot > tr.warning > td,
    .table > thead > tr.warning > th,
    .table > tbody > tr.warning > th,
    .table > tfoot > tr.warning > th {
        background-color: #f39c12;
    }

    .table-hover > tbody > tr > td.warning:hover,
    .table-hover > tbody > tr > th.warning:hover,
    .table-hover > tbody > tr.warning:hover > td,
    .table-hover > tbody > tr:hover > .warning,
    .table-hover > tbody > tr.warning:hover > th {
        background-color: #e08e0b;
    }

    .table > thead > tr > td.danger,
    .table > tbody > tr > td.danger,
    .table > tfoot > tr > td.danger,
    .table > thead > tr > th.danger,
    .table > tbody > tr > th.danger,
    .table > tfoot > tr > th.danger,
    .table > thead > tr.danger > td,
    .table > tbody > tr.danger > td,
    .table > tfoot > tr.danger > td,
    .table > thead > tr.danger > th,
    .table > tbody > tr.danger > th,
    .table > tfoot > tr.danger > th {
        background-color: #e74c3c;
    }

    .table-hover > tbody > tr > td.danger:hover,
    .table-hover > tbody > tr > th.danger:hover,
    .table-hover > tbody > tr.danger:hover > td,
    .table-hover > tbody > tr:hover > .danger,
    .table-hover > tbody > tr.danger:hover > th {
        background-color: #e43725;
    }
    .btn:hover,
    .btn:focus,
    .btn.focus {
        color: #ffffff;
        text-decoration: none;
    }

    .btn:active,
    .btn.active {
        background-image: none;
        outline: 0;
        box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    }

    .btn.disabled,
    .btn[disabled],
    fieldset[disabled] .btn {
        cursor: not-allowed;
        filter: alpha(opacity=65);
        opacity: 0.65;
        box-shadow: none;
    }

    a.btn.disabled,
    fieldset[disabled] a.btn {
        pointer-events: none;
    }

    .btn-default {
        color: #ffffff;
        background-color: #464545;
        border-color: #464545;
    }

    .btn-default:focus,
    .btn-default.focus {
        color: #ffffff;
        background-color: #2c2c2c;
        border-color: #060606;
    }

    .btn-default:hover {
        color: #ffffff;
        background-color: #2c2c2c;
        border-color: #272727;
    }

    .btn-default:active,
    .btn-default.active,
    .open > .dropdown-toggle.btn-default {
        color: #ffffff;
        background-color: #2c2c2c;
        background-image: none;
        border-color: #272727;
    }

    .btn-default:active:hover,
    .btn-default.active:hover,
    .open > .dropdown-toggle.btn-default:hover,
    .btn-default:active:focus,
    .btn-default.active:focus,
    .open > .dropdown-toggle.btn-default:focus,
    .btn-default:active.focus,
    .btn-default.active.focus,
    .open > .dropdown-toggle.btn-default.focus {
        color: #ffffff;
        background-color: #1a1a1a;
        border-color: #060606;
    }

    .btn-default.disabled:hover,
    .btn-default[disabled]:hover,
    fieldset[disabled] .btn-default:hover,
    .btn-default.disabled:focus,
    .btn-default[disabled]:focus,
    fieldset[disabled] .btn-default:focus,
    .btn-default.disabled.focus,
    .btn-default[disabled].focus,
    fieldset[disabled] .btn-default.focus {
        background-color: #464545;
        border-color: #464545;
    }

    .btn-default .badge {
        color: #464545;
        background-color: #ffffff;
    }

    .btn-primary {
        color: #ffffff;
        background-color: #375a7f;
        border-color: #375a7f;
    }

    .btn-primary:focus,
    .btn-primary.focus {
        color: #ffffff;
        background-color: #28415b;
        border-color: #101b26;
    }

    .btn-primary:hover {
        color: #ffffff;
        background-color: #28415b;
        border-color: #253c54;
    }

    .btn-primary:active,
    .btn-primary.active,
    .open > .dropdown-toggle.btn-primary {
        color: #ffffff;
        background-color: #28415b;
        background-image: none;
        border-color: #253c54;
    }

    .btn-primary:active:hover,
    .btn-primary.active:hover,
    .open > .dropdown-toggle.btn-primary:hover,
    .btn-primary:active:focus,
    .btn-primary.active:focus,
    .open > .dropdown-toggle.btn-primary:focus,
    .btn-primary:active.focus,
    .btn-primary.active.focus,
    .open > .dropdown-toggle.btn-primary.focus {
        color: #ffffff;
        background-color: #1d2f43;
        border-color: #101b26;
    }

    .btn-primary.disabled:hover,
    .btn-primary[disabled]:hover,
    fieldset[disabled] .btn-primary:hover,
    .btn-primary.disabled:focus,
    .btn-primary[disabled]:focus,
    fieldset[disabled] .btn-primary:focus,
    .btn-primary.disabled.focus,
    .btn-primary[disabled].focus,
    fieldset[disabled] .btn-primary.focus {
        background-color: #375a7f;
        border-color: #375a7f;
    }

    .btn-primary .badge {
        color: #375a7f;
        background-color: #ffffff;
    }

    .btn-success {
        color: #ffffff;
        background-color: #00bc8c;
        border-color: #00bc8c;
    }

    .btn-success:focus,
    .btn-success.focus {
        color: #ffffff;
        background-color: #008966;
        border-color: #003d2d;
    }

    .btn-success:hover {
        color: #ffffff;
        background-color: #008966;
        border-color: #007f5e;
    }

    .btn-success:active,
    .btn-success.active,
    .open > .dropdown-toggle.btn-success {
        color: #ffffff;
        background-color: #008966;
        background-image: none;
        border-color: #007f5e;
    }

    .btn-success:active:hover,
    .btn-success.active:hover,
    .open > .dropdown-toggle.btn-success:hover,
    .btn-success:active:focus,
    .btn-success.active:focus,
    .open > .dropdown-toggle.btn-success:focus,
    .btn-success:active.focus,
    .btn-success.active.focus,
    .open > .dropdown-toggle.btn-success.focus {
        color: #ffffff;
        background-color: #00654b;
        border-color: #003d2d;
    }

    .btn-success.disabled:hover,
    .btn-success[disabled]:hover,
    fieldset[disabled] .btn-success:hover,
    .btn-success.disabled:focus,
    .btn-success[disabled]:focus,
    fieldset[disabled] .btn-success:focus,
    .btn-success.disabled.focus,
    .btn-success[disabled].focus,
    fieldset[disabled] .btn-success.focus {
        background-color: #00bc8c;
        border-color: #00bc8c;
    }

    .btn-success .badge {
        color: #00bc8c;
        background-color: #ffffff;
    }

    .btn-info {
        color: #ffffff;
        background-color: #3498db;
        border-color: #3498db;
    }

    .btn-info:focus,
    .btn-info.focus {
        color: #ffffff;
        background-color: #217dbb;
        border-color: #16527a;
    }

    .btn-info:hover {
        color: #ffffff;
        background-color: #217dbb;
        border-color: #2077b2;
    }

    .btn-info:active,
    .btn-info.active,
    .open > .dropdown-toggle.btn-info {
        color: #ffffff;
        background-color: #217dbb;
        background-image: none;
        border-color: #2077b2;
    }

    .btn-info:active:hover,
    .btn-info.active:hover,
    .open > .dropdown-toggle.btn-info:hover,
    .btn-info:active:focus,
    .btn-info.active:focus,
    .open > .dropdown-toggle.btn-info:focus,
    .btn-info:active.focus,
    .btn-info.active.focus,
    .open > .dropdown-toggle.btn-info.focus {
        color: #ffffff;
        background-color: #1c699d;
        border-color: #16527a;
    }

    .btn-info.disabled:hover,
    .btn-info[disabled]:hover,
    fieldset[disabled] .btn-info:hover,
    .btn-info.disabled:focus,
    .btn-info[disabled]:focus,
    fieldset[disabled] .btn-info:focus,
    .btn-info.disabled.focus,
    .btn-info[disabled].focus,
    fieldset[disabled] .btn-info.focus {
        background-color: #3498db;
        border-color: #3498db;
    }

    .btn-info .badge {
        color: #3498db;
        background-color: #ffffff;
    }

    .btn-warning {
        color: #ffffff;
        background-color: #f39c12;
        border-color: #f39c12;
    }

    .btn-warning:focus,
    .btn-warning.focus {
        color: #ffffff;
        background-color: #c87f0a;
        border-color: #7f5006;
    }

    .btn-warning:hover {
        color: #ffffff;
        background-color: #c87f0a;
        border-color: #be780a;
    }

    .btn-warning:active,
    .btn-warning.active,
    .open > .dropdown-toggle.btn-warning {
        color: #ffffff;
        background-color: #c87f0a;
        background-image: none;
        border-color: #be780a;
    }

    .btn-warning:active:hover,
    .btn-warning.active:hover,
    .open > .dropdown-toggle.btn-warning:hover,
    .btn-warning:active:focus,
    .btn-warning.active:focus,
    .open > .dropdown-toggle.btn-warning:focus,
    .btn-warning:active.focus,
    .btn-warning.active.focus,
    .open > .dropdown-toggle.btn-warning.focus {
        color: #ffffff;
        background-color: #a66908;
        border-color: #7f5006;
    }

    .btn-warning.disabled:hover,
    .btn-warning[disabled]:hover,
    fieldset[disabled] .btn-warning:hover,
    .btn-warning.disabled:focus,
    .btn-warning[disabled]:focus,
    fieldset[disabled] .btn-warning:focus,
    .btn-warning.disabled.focus,
    .btn-warning[disabled].focus,
    fieldset[disabled] .btn-warning.focus {
        background-color: #f39c12;
        border-color: #f39c12;
    }

    .btn-warning .badge {
        color: #f39c12;
        background-color: #ffffff;
    }

    .btn-danger {
        color: #ffffff;
        background-color: #e74c3c;
        border-color: #e74c3c;
    }

    .btn-danger:focus,
    .btn-danger.focus {
        color: #ffffff;
        background-color: #d62c1a;
        border-color: #921e12;
    }

    .btn-danger:hover {
        color: #ffffff;
        background-color: #d62c1a;
        border-color: #cd2a19;
    }

    .btn-danger:active,
    .btn-danger.active,
    .open > .dropdown-toggle.btn-danger {
        color: #ffffff;
        background-color: #d62c1a;
        background-image: none;
        border-color: #cd2a19;
    }

    .btn-danger:active:hover,
    .btn-danger.active:hover,
    .open > .dropdown-toggle.btn-danger:hover,
    .btn-danger:active:focus,
    .btn-danger.active:focus,
    .open > .dropdown-toggle.btn-danger:focus,
    .btn-danger:active.focus,
    .btn-danger.active.focus,
    .open > .dropdown-toggle.btn-danger.focus {
        color: #ffffff;
        background-color: #b62516;
        border-color: #921e12;
    }

    .btn-danger.disabled:hover,
    .btn-danger[disabled]:hover,
    fieldset[disabled] .btn-danger:hover,
    .btn-danger.disabled:focus,
    .btn-danger[disabled]:focus,
    fieldset[disabled] .btn-danger:focus,
    .btn-danger.disabled.focus,
    .btn-danger[disabled].focus,
    fieldset[disabled] .btn-danger.focus {
        background-color: #e74c3c;
        border-color: #e74c3c;
    }

    .btn-danger .badge {
        color: #e74c3c;
        background-color: #ffffff;
    }

    .btn-link {
        font-weight: 400;
    }

    .btn-link,
    .btn-link:active,
    .btn-link.active,
    .btn-link[disabled],
    fieldset[disabled] .btn-link {
        background-color: transparent;
        box-shadow: none;
    }

    .btn-link,
    .btn-link:hover,
    .btn-link:focus,
    .btn-link:active {
        border-color: transparent;
    }

    .btn-link:hover,
    .btn-link:focus {
        text-decoration: underline;
        background-color: transparent;
    }

    .btn-link[disabled]:hover,
    fieldset[disabled] .btn-link:hover,
    .btn-link[disabled]:focus,
    fieldset[disabled] .btn-link:focus {
        color: #999999;
        text-decoration: none;
    }

    .nav-tabs > li > a {
        background-color: #303030;
        color: white;
    }

    .nav-tabs > li.active > a,
    .nav-tabs > li.active > a:focus,
    .nav-tabs > li.active > a:hover {
        background-color: #ad312d;
        color: #fff;
        border: 1px solid #832d23;
    }
}
